.mdl-layout .mdl-mega-footer__drop-down-section {
  width: 40%;
}
.mdl-layout .mdl-card {
  margin: 15px 0;
}
.mdl-layout h1 {
  font-size: 165%;
  line-height: 1.3em;
}
.mdl-layout h2 {
  font-size: 130%;
}
.mdl-layout .portfolio_table table {
  width: 100%;
}
.mdl-layout .mdl-layout__header {
  background: linear-gradient(141deg, #5E239D 0%, #F61067 119%);
}
.mdl-layout .mdl-button--raised.mdl-button--colored {
  background: #5E239D;
}

.mdl-layout .mdl-card__title {
    background-color: #3cdbd3;
    color: rgba(255,255,255,0.8);
}

h1.page-header .logo-text {
    background:url(/static/images/safecoinfolio_logo_text.png) right center;
    overflow: hidden;
    font: 0/0 a;
    display: inline-block;
    width: 140px;
    height: 22px;
    background-size: 140px 25px;
}

h1.page-header {
  color: white;
  font-weight:800;
  background: url(/static/images/safecoinfolio_logo_128.png) left center;
  -webkit-background-size: 48px;
  background-size: 48px;
  background-repeat: no-repeat;
  padding: 8px 0 0 55px;
  min-height: 48px;
  margin-left:15px;
}

h2.sub {
    background: #efefef;
    padding: 0 7% 0 7%;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
}

.total_label {
    display: inline-block;
    height: 32px;
    line-height: 32px;
}

.total_label_text {
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    line-height: 39px;
}

.price_info {
    float: right;
    padding-top: 12px;
}

.table_leader {
    margin: 10px 0 20px;
}

main .mdl-chip {
    background-color:#efefef;
}

main .mdl-chip__contact {
    font-size: 10px;
    line-height: 33px;
    background-color: #3CDBD3;
}

@media (max-width: 480px) {
    h2.sub { display: none; }
}

@media (max-width: 1400px) {
  .inner-grid .mdl-cell.mdl-cell--8-col {
    width: 100%;
  }
}

@media (min-width: 840px) {

  .container.mdl-cell--8-col {
    width: calc(90.666667% - 16px);
  }

}
